:root{
    --color1:#0D0D0D;
    --color2:#e4e4e4;
    --color3:#F24405;  
    --color4:#5a5a5a;

}

#profile{
    margin-top: 200px;
    
}

#card-profile{
    background-color: var(--color3);
    width: 400px;
    height: 450px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}

#imagem img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2, h3, h4{
    color: var(--color2);
}

#local{
    display: flex;
    justify-content: center;
}

#local img{
    width: 20px;
}

#redes-socias a {
    text-decoration: none;
    width: 20px;
}

#redes-socias a img{
    margin: 5px;
    margin-top: 20px;
    width: 50px;
    padding: 5px;
    border: 2px solid var(--color3);
    border-radius: 5px;
}

#redes-socias a img:hover{
    border: 2px solid var(--color1);
}

@media (max-width:500px){
    #card-profile{
        width: 85%;
    }
}

