:root{
    --white: #F2F2F2;
    --grey:  #878787;
    --black: #303030;
    --blue1: #00bbc9;
    --blue2: #00747C;  
}

.dark-mode:root{
    --white: #303030;
}

body{
    background-color: var(--white);
}
